body {
    font: normal 18px/1.5 "Fira Sans", "Helvetica Neue", sans-serif;
    background: #266c74;
    color: #fff;
    padding: 50px 0;
}
.sign-up {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
}
.container {
    width: 80%;
    max-width: 1200px;
    margin: 2rem auto;
}

.container * {
    box-sizing: border-box;
}

.flex-outer {
    list-style-type: none;
    padding: 0;
}

.flex-outer {
    max-width: 800px;
    margin: 0 auto;
}

.flex-outer li {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}


.flex-outer>li:not(:last-child) {
    margin-bottom: 20px;
}

.flex-outer li label {
    padding: 8px;
    font-weight: 800;
    letter-spacing: .09em;
    text-transform: uppercase;
}

.flex-outer>li>label {
    flex: 1 0 120px;
    max-width: 220px;
}

.flex-outer>li>label+ * {
    flex: 1 0 220px;
}


.flex-outer li input:not([type='checkbox']) {
    padding: 15px;
    border: none;
}

.flex-outer li button {
    margin-left: auto;
    padding: 8px 16px;
    border: none;
    background: #333;
    color: #f2f2f2;
    text-transform: uppercase;
    letter-spacing: .09em;
    border-radius: 2px;
}

