html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}



/* custon styles */

body {
    background-image: url('./assets/final.png');
    background-repeat: no-repeat;
    background-color: transparent;
    height: 100%;
    background-size: cover;

}

header {
    height: 100px;
    background-color: #243763;



}

.title {
    margin: 5px;
    font-size: 30px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.navbar {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
}

.ipl {
    margin:1rem;
}
.signup {
    margin: 1rem;
    background-color: #FFD6EC;
    border-radius: 20px;
    padding: 0.5rem;
}

.container {
    width: 800px;
    height: 700px;
    /* justify-content: center;
    align-items: center; */

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* border: 3px solid black; */
    margin: 20px;
}


.card {
    height: 200px;
    width: 200px;
    margin: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    align-content: center;
    padding: 10px;
    font-family: sans-serif;
    font-weight: bold;
    box-shadow: 10px 5px 5px #47B5FF;
}

.main {
    max-width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:1200px) {
    body {
        background-image: url('./assets/final.png');
        background-position: center center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media screen and (min-width:375px) {
    body {

        background-image: url('./assets/final.png');
        background-position: center center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.button {
    width: 200px;
    height: 200px;
    background-color: #FFD6EC;
    border-radius: 20px;
    font-size: 15px;
    border: 2px solid #003865;
    opacity: 80%;
    cursor: pointer;
}

@media screen and (max-width:500px) {
.main{
    display:flex;
}

.container {
    padding: 2rem;
    margin: 1rem;
    display: flex;
    flex-direction: row;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
 
}

}